.home {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	width: 700px;
	align-items: center;
	border-radius: 85% 15% 85% 15% / 15% 85% 15% 85% ;
	margin: 30px;
	padding: 50px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.text {
	padding: 15px;
}